@page "/component"


@using System.Text.Json;
@using System.Text.Json.Serialization;

@code {
    public record Item(int Index, string Label)
    {
        public int Index { get; set; } = Index;
    };

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Items = new List<Item>() {
            new (0, "1"),
            new (1, "2"),
            new (2, "3"),
            new (3, "4"),
            new (4, "5"),
            new (5, "6"),
            new (6, "7"),
        };
    }

    private IList<Item> Items = Array.Empty<Item>();

    private int? StartedIndex { get; set; }

    private int? MinIndex { get => Items.MinBy(i => i.Index)?.Index; }

    private int? MaxIndex { get => Items.MaxBy(i => i.Index)?.Index; }

    private void ItemMovingChange(Tuple<int, bool> change)
    {
        StartedIndex = change.Item2 ? change.Item1 : null;
    }

    private void ItemDropedOn(int index)
    {
        ChnageIndices(index);
        StartedIndex = null;
    }

    private void ChnageIndices(int targetIndex)
    {
        Item starter = Items.Single(i => i.Index == StartedIndex);

        if (StartedIndex < targetIndex)
        {
            Items.Where(i => i.Index > StartedIndex && i.Index <= targetIndex)
                .ToList().ForEach(i => i.Index--);
        }
        else
        {
            Items.Where(i => i.Index < StartedIndex && i.Index >= targetIndex)
                .ToList().ForEach(i => i.Index++);
        }

        starter.Index = targetIndex;
    }
}


<PageTitle>Drag & Drop Sample</PageTitle>

<div class="demo-container">
    <DragZone Data=@Items.OrderBy(i => i.Index)>
        <ListTemplate Context="items">
            <tr>
                @items
            </tr>
        </ListTemplate>
        <ItemTemplate Context="item">
            <DragItem Tag="th"
                      Active=@true
                      Index=@item.Index
                      OnDroppedToOther=@ItemDropedOn
                      OnMovingChanged=@ItemMovingChange>
                @item.Label
            </DragItem>
        </ItemTemplate>
    </DragZone>
</div>


