@page "/component"


@using System.Text.Json;
@using System.Text.Json.Serialization;

@code {
    public record Item(int Index, string Label)
    {
        public int Index { get; set; } = Index;
    };

    public Component()
    {
        Items = new() {
            new (0, "1"),
            new (1, "2"),
            new (2, "3"),
            new (3, "4")
        };
    }

    public List<Item> Items { get; }

    private int? StartedIndex { get; set; }

    private void ItemMovingChange(Tuple<int, bool> change)
    {
        Console.WriteLine($"-ItemMovingChange: {change}");
        StartedIndex = change.Item2 ? change.Item1 : null;
    }

    private void ItemDropedOn(int index)
    {
        Console.WriteLine($"-ItemDropedOn, dropped: {index}; starter: {StartedIndex!.Value}");

        int firstIndex = StartedIndex!.Value;

        Item starter = Items.Single(i => i.Index == firstIndex);
        Item droppedOn = Items.Single(i => i.Index == index);

        starter.Index = index;
        droppedOn.Index = firstIndex;

        StartedIndex = null;
    }
}


<PageTitle>Drag & Drop Sample</PageTitle>

<div class="area">
    @foreach (Item i in Items.OrderBy(i => i.Index))
    {
        string elemId = $"dragItem_{i.Label}";

        <DragItem id=@elemId @key=elemId Active=@true Index=@i.Index Content=@i.Label OnDroppedOn=@ItemDropedOn OnMovingChanged=@ItemMovingChange />
    }
</div>


<style>
    .area {
        border: 1px solid black;
        height: 400px;
    }

    .item {
        margin: 1rem 0;
        height: 50px;
        width: 50px;
        border: 1px solid violet;
    }
</style>