@page "/weatherforecast/{id:guid}"


@using WeatherUI.Client.ApiClients
@using WeatherUI.Shared

@inject WeatherForecastsHttpClientService WeatherForecastsService

@code {
    const string PageTitle = "Weather forecast for a day";

    [Parameter]
    public Guid Id { get; set; }

    private WeatherForecast? forecast;

    protected override async Task OnInitializedAsync()
    {
        forecast = await WeatherForecastsService.GetOne(Id);
    }
}


<PageTitle>@PageTitle</PageTitle>

<header>
    <h1>@PageTitle</h1>
</header>

<p>
    <NavLink href="weatherforecast">Back</NavLink>
</p>

@if (forecast == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <dl> 
        <dt>Date</dt>
        <dd>@forecast?.Date.ToShortDateString()</dd>

        <dt>Temp. (C)</dt>
        <dd>@forecast?.TemperatureC</dd>

        <dt>Temp. (F)</dt>
        <dd>@forecast?.TemperatureF</dd>

        <dt>Summary</dt>
        <dd>@forecast?.Summary</dd>
    </dl>
}


