@page "/weatherforecast"

@using System.Reflection
@using WeatherUI.Shared;
@using WeatherUI.Client.Helpers
@inject HttpClient Http;
@inject IStringLocalizer<Shared.Resources.WeatherForecast> L10nWeatherForecast


@code {
    const string PAGE_TITILE = "Weather forecast";

    const string PAGE_ID = "page-weatherforecast";

    const string HC_USERID = "u1";

    private IList<PageViewItem> Header { get; set; } = Array.Empty<PageViewItem>();

    private IList<IDictionary<string, object>>? ViewModels { get; set; } = default;

    private int? StartedIndex { get; set; }

    private bool IsControlsVisible { get; set; } = false;

    private static string ToPath(object id)
    {
        return $"weatherforecast/{id}";
    }

    private string CreateId(PageViewItem field)
    {
        return $"header_{@field.Name}";
    }

    private void ToggleHeaderControls()
    {
        IsControlsVisible = !IsControlsVisible;
    }

    private void ItemMovingChange(Tuple<int, bool> change)
    {
        StartedIndex = change.Item2 ? change.Item1 : null;
    }

    private void ItemDropedOn(int index)
    {
        ChnageIndices(index);
        StartedIndex = null;
    }

    private void ChnageIndices(int targetIndex)
    {
        PageViewItem starter = Header.Single(i => i.Index == StartedIndex);

        if (StartedIndex < targetIndex)
        {
            Header.Where(i => i.Index > StartedIndex && i.Index <= targetIndex)
                .ToList().ForEach(i => i.Index--);
        }
        else
        {
            Header.Where(i => i.Index < StartedIndex && i.Index >= targetIndex)
                .ToList().ForEach(i => i.Index++);
        }

        starter.Index = targetIndex;
    }

    private static IList<PageViewItem> GetDefaultHeader()
    {
        int idx = 0;

        return new List<PageViewItem>()
        {
            new () { Index = idx, Name = nameof(WeatherForecast.Id), Selected = true },
            new () { Index = ++idx, Name = nameof(WeatherForecast.Date), Selected = true },
            new () { Index = ++idx, Name = nameof(WeatherForecast.TemperatureC), Selected = true },
            new () { Index = ++idx, Name = nameof(WeatherForecast.TemperatureF), Selected = true },
            new () { Index = ++idx, Name = nameof(WeatherForecast.Summary), Selected = true },
        };
    }

    private IList<IDictionary<string, object>> ViewModelMapper(IEnumerable<WeatherForecast> models)
    {
        PropertyInfo[] properties = typeof(WeatherForecast).GetProperties();

        Func<WeatherForecast, IDictionary<string, object>> mapper = (model) => Header.Aggregate(
            new Dictionary<string, object>(),
            (acc, field) =>
            {
                PropertyInfo property = properties.Single(p => p.Name == field.Name);

                acc.Add(property.Name, property.GetValue(model)!);

                return acc;
            }
        );

        return models.Select(mapper).ToList();
    }

    private async Task InitUserPageInfo()
    {
        var storedHeader = await Http.GetFromJsonAsync<IEnumerable<PageViewItem>>($"api/pageviewitems/{PAGE_ID}/{HC_USERID}");

        Header = storedHeader?.ToList() ?? GetDefaultHeader();
    }

    private async Task InitPageViewModel()
    {
        var forecasts = await Http.GetFromJsonAsync<IEnumerable<WeatherForecast>>("api/weatherforecasts");

        if (forecasts is not null && forecasts.Any())
        {
            ViewModels = ViewModelMapper(forecasts);
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await InitUserPageInfo();
        await InitPageViewModel();
    }
}


<PageTitle>
    @PAGE_TITILE
</PageTitle>

<header>
    <h1>@PAGE_TITILE</h1>
</header>

<p>This component demonstrates fetching data from the server.</p>

<section>
    <button @onclick=ToggleHeaderControls @onclick:preventDefault>
        Show layout tools
    </button>
</section>

@if (ViewModels is null)
{
    <p><em>Loading...</em></p>
}
else
{
    @if (IsControlsVisible)
    {
        <section class="controls">
            @foreach (PageViewItem f in Header)
            {
                string elemId = CreateId(f);

                <div @key=@f.Name>
                    <label for=@elemId>@L10nWeatherForecast[f.Name]</label>
                    <input id=@elemId type="checkbox" @bind=@f.Selected @onchange:preventDefault />
                </div>
            }
        </section>
    }
    <table class="table">
        <thead>

            <DragZone Data=@Header.Where(f => f.Selected).OrderBy(f => f.Index)>

                <ListTemplate Context="header">
                    <tr class=@(IsControlsVisible ? "drag-zone" : "")>
                        @header
                    </tr>
                </ListTemplate>

                <ItemTemplate Context="field">

                    <DragItem Tag="th"
                          Active=@IsControlsVisible
                          Index=@field.Index
                          OnDroppedToOther=@ItemDropedOn
                          OnMovingChanged=@ItemMovingChange>
                        @L10nWeatherForecast[field.Name]
                    </DragItem>

                </ItemTemplate>

            </DragZone>

        </thead>
        <tbody>

            <Virtualize Items="ViewModels">
                <tr @key=@context>
                    @foreach (PageViewItem pi in Header.Where(i => i.Selected).OrderBy(i => i.Index))
                    {
                        object value = context[pi.Name];

                        <td @key=context[pi.Name]>
                            @if (pi.Name == nameof(WeatherForecast.Date))
                            {
                                @Convert.ToDateTime(value).ToShortDateString()
                            }
                            else if (pi.Name == nameof(WeatherForecast.Id))
                            {
                                <NavLink href=@ToPath(value)>
                                    🔗
                                </NavLink>
                            }
                            else
                            {
                                @value
                            }
                        </td>
                    }
                </tr>
            </Virtualize>

        </tbody>
    </table>
}

